timeout: 120
service:
  externalPort: 7200
  internalPort: 7200
image:
  secrets:
  - name: skdigital-bonet-registry
ingress:
  enabled: false
livenessProbe:
  initialDelaySeconds: 20
  probeType: "exec"
  command:
  - "true"
readinessProbe:
  initialDelaySeconds: 20 
  probeType: "exec"
  command:
  - "true"
resources:
  requests:
    cpu: 100m
    memory: 1500Mi
  limits:
    memory: 2000Mi
