name: CI

on:
  push:
    branches: main
  pull_request:
    branches: '**'

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: maven
      - name: Test with Maven
        run: mvn test

  gitlab-push:
    needs: test

    if: ${{github.ref == 'refs/heads/main'}}

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - uses: dokku/github-action@master
        with:
          git_push_flags: '--force'
          git_remote_url: ssh://git@${{secrets.GITLAB_DEPLOY_HOST}}/${{github.event.repository.name}}.git
          ssh_private_key: ${{secrets.GITLAB_DEPLOY_KEY}}
